@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

body{
    background-image: url(/assets/img/fondo.png);
    background-size: cover;
}

.navbar {
    font-family: Concert One;
    color: white;
    height: 65px;
}

.navbar-brand {
    color: white;
}

.nav-link {
    color: white;
}


.btn {
    background-color: #af936d;
    color: white;
    width: 125px;
    height: 40px;
    margin: 0 auto;
    font-family: Concert One;
}

.btn:hover {
    background-color: #70573c;
}

.btn:active {
    background-color: #70573c;
}

.btnn {
    background-color: #70573c;
    border: #70573c;
    width: 550px;
    height: 42px;
    color: white;
    font-family: Concert One;
    border-radius: 20px;
}

.img1 {
    width: 300px;
    height: 270px;
    margin: 10px;
    border-color: black;
}

.img2 {
    width: 220px;
    height: 270px;
    margin: 10px;
    border-color: black;
}

.img3 {
    width: 220px;
    height: 270px;
    margin: 10px;
    border-color: black;
}

.img4 {
    width: 300px;
    height: 270px;
    margin: 10px;
    border-color: black;
}

.container1 {
    text-align: center;
}

.container2 {
    text-align: center;
}

.container3 {
    text-align: center;
}

.tarjeta {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;   
    margin: 10px; 
    margin-left: 86px;
}

.card {
    background-color: #70573c;
    width: 500px;
    height: 250px;
    font-family: Concert One;
    padding: 20px;
    border-radius: 10px;
}

.card-title {
    font-size: 30px;
}


.input-nombres {
    background-color: #af936d;
    border: #af936d;
    width: 310px;
    height: 45px;
    border-radius: 20px;
    color: white;
}

.input-apellidos {
    background-color: #af936d;
    border: #af936d;
    width: 310px;
    height: 45px;
    border-radius: 20px;
    color: white;
}

.input-dni {
    background-color: #af936d;
    border: #af936d;
    width: 180px;
    height: 45px;
    border-radius: 20px;
    color: white;
}

.input-hora {
    background-color: #af936d;
    border: #af936d;
    width: 112px;
    height: 45px;
    border-radius: 20px;
    color: white;
}

.input3 {
    background-color: #af936d;
    border: #af936d;
    width: 45px;
    height: 45px;
    border-radius: 20px;
    color: white;
}

.input4 {
    background-color: #af936d;
    border: #af936d;
    width: 117px;
    height: 45px;
    border-radius: 20px;
    color: white;
}

.input5 {
    background-color: #af936d;
    border: #af936d;
    width: 75px;
    height: 45px;
    border-radius: 20px;
    color: white;
}

.input0 {
    background-color: #af936d;
    border: #af936d;
    width: 70px;
    height: 45px;
    border-radius: 20px;
    display: inline-block; /* Agrega esta línea para que el input se muestre en línea */
    color: white;
}

.card-body {
    color: white;
}

h6 {
    font-size: 22px;
}

.submit {
    background-color: #af936d;
    height: 45px;
    border-radius: 10px;
    margin-top: 20PX;
    width: 300px;
    position: absolute;
    bottom: 18px;
}

 /* Estilo para cambiar el color del texto del botón */
 button[type="submit"] {
    color: white; /* Cambia el color del texto a blanco */
    border: none; /* Eliminar el borde */
}

.contenedor {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    height: 30px; /* Ajustar la altura del contenedor */
    color: white;
}

.inner-container {
    border: 1px solid black;
    padding: 3px;
    margin-bottom: 3px;
    width: 133px;
    display: inline-block; /* Agrega esta línea para que el input se muestre en línea */
}

.outer-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%; /* Opcional: ajusta la altura si deseas que el contenedor ocupe toda la altura */
}