@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

.navbar {
    font-family: Concert One;
    color: white;
    font-size: 20px;
}

.nav-nombre {
    color: white;
    font-family: Concert One;
    font-size: 30px;
    
}


.navbar-brand {
    color: white;
}

.nav-link {
    color: white;
}


.btn {
    background-color: #af936d;
    color: white;
    width: 125px;
    height: 40px;
    margin: 0 auto;
    font-family: Concert One;
}

.btn:hover {
    background-color: #70573c;
}

.btn:active {
    background-color: #70573c;
}

.btnn {
    background-color: #70573c;
    border: #70573c;
    width: 550px;
    height: 42px;
    color: white;
    font-family: Concert One;
    border-radius: 20px;
}

.img {
    height: 200px;
    margin: 1px;
}

.container1 {
    text-align: center;
}

.container2 {
    text-align: center;
}

.container3 {
    text-align: center;
}

.tarjeta {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;    
}

.card {
    background-color: #70573c;
    width: 500px;
    height: 250px;
    margin: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Concert One;
    padding: 20px;
    border-radius: 10px;
}

.card-title {
    font-size: 30px;
}


.input {
    background-color: #af936d;
    border: #af936d;
    width: 310px;
    height: 45px;
    border-radius: 20px;
}

.input1 {
    background-color: #af936d;
    border: #af936d;
    width: 180px;
    height: 45px;
    border-radius: 20px;
}

.input2 {
    background-color: #af936d;
    border: #af936d;
    width: 112px;
    height: 45px;
    border-radius: 20px;
}

.input3 {
    background-color: #af936d;
    border: #af936d;
    width: 65px;
    height: 45px;
    border-radius: 20px;
}

.input4 {
    background-color: #af936d;
    border: #af936d;
    width: 65px;
    height: 45px;
    border-radius: 20px;
}

.input5 {
    background-color: #af936d;
    border: #af936d;
    width: 110px;
    height: 45px;
    border-radius: 20px;
}

.input0 {
    background-color: #af936d;
    border: #af936d;
    width: 270px;
    height: 45px;
    border-radius: 20px;
}

h6 {
    font-size: 22px;
}

.submit {
    background-color: #af936d;
    height: 45px;
    border-color: #af936d;
    border-radius: 20px;
}

.contenedor {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    height: 30px; /* Ajustar la altura del contenedor */
}