@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

.navbar {
    font-family: Concert One;
    color: white;
    height: 65px;
}

.navbar-brand {
    color: white;
}

.nav-link {
    color: white;
}

.table {
    font-family: Concert One;
    color: white;
}